body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.wall-chart {
    width: 100%;
    max-width: 1800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 0 auto;
}

.wall-chart h1 {
    text-align: center;
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.match-results-left, .match-results-right {
    width: 20%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-standings-center {
    width: 60%;
    padding: 0 00px;
    box-sizing: border-box;
}

.group-standings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group {
    width: 48%;
    margin: 5px 10px 10px 5px;
    text-align: center;
    border: 1px solid black;
}

.group-results {
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
}

h2 {
    text-align: center;
}

.group h2, .group-results h2 {
    background-color: #4CAF50;
    color: white;
    padding: 1px 0;
    margin: 0px;
}

.group table, .group-results table {
    width: 100%;
    border-collapse: collapse;
}

.group table, .group th, .group td, .group-results table, .group-results th, .group-results td {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 0.8em;
}

.group tr, .group-results tr {
    background-color: #fff;
}

.group th, .group-results th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

tr.qualified {
    background-color: rgba(144, 238, 144, 0.5);
}

tr.best-third {
    background-color: rgba(255, 255, 0, 0.5);
}

tr.unqualified {
    background-color: rgba(255, 99, 71, 0.5);
}

.divider {
    width: 2px;
    background-color: #ddd;
}

.knockout-stage {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.knockout-stage-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.round-of-16-left, .quarter-finals-left, .semi-finals-left, 
.round-of-16-right, .quarter-finals-right, .semi-finals-right, .final {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.match {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
    border: 1px solid #ddd;
}


.match span {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 0.7em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
.match span.team {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 0.7em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

.match span.score {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 0.7em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

.team {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
}

.score {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 0.7em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    margin-left: 2px;
}

.team-name {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    flex-grow: 1;
    text-align: left;
    font-size: 0.7em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

.round-of-16-left {
    grid-column: 1 / span 1;
    grid-row: 1 / span 8;
}

.quarter-finals-left {
    grid-column: 2 / span 1;
    grid-row: 2 / span 6;
}

.semi-finals-left {
    grid-column: 3 / span 1;
    grid-row: 3 / span 4;
}

.final {
    grid-column: 4 / span 1;
    grid-row: 4 / span 2;
    align-items: center;
}

.semi-finals-right {
    grid-column: 5 / span 1;
    grid-row: 3 / span 4;
}

.quarter-finals-right {
    grid-column: 6 / span 1;
    grid-row: 2 / span 6;
}

.round-of-16-right {
    grid-column: 7 / span 1;
    grid-row: 1 / span 8;
}

.match .team.winner, .match .score.winner {
    background-color: rgba(144, 238, 144, 0.15);
    font-weight: bold;
    color: #006400;
}

.match .team.loser, .match .score.loser {
    background-color: rgba(255, 99, 71, 0.15);
    font-weight: bold;
}

.penalty.winner {
    background-color: rgba(144, 238, 144, 0.15);
}

.penalty.loser {
    background-color: rgba(255, 99, 71, 0.15);
}