body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.wall-chart {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.wall-chart h1 {
    text-align: center;
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.match-results-left, .match-results-right {
    width: 20%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-standings-center {
    width: 60%;
    padding: 0 00px;
    box-sizing: border-box;
}

.group-standings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group {
    width: 48%;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid black;
}

.group-results {
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
}

h2 {
    text-align: center;
}

.group h2, .group-results h2 {

    background-color: #4CAF50;
    color: white;
    padding: 1px 0;
    margin: 0px;
}

.group table, .group-results table {
    width: 100%;
    border-collapse: collapse;
}

.group table, .group th, .group td, .group-results table, .group-results th, .group-results td {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 0.8em;
}

.group tr, .group-results tr {
    background-color: #fff;
}

.group th, .group-results th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

tr.qualified {
    background-color: rgba(144, 238, 144, 0.5); /* Light green with transparency for qualified teams */
}

tr.best-third {
    background-color: rgba(255, 255, 0, 0.5); /* Light yellow with transparency for best third-placed teams */
}

tr.unqualified {
    background-color: rgba(255, 99, 71, 0.5); /* Light red with transparency for unqualified teams */
}

.divider {
    width: 2px;
    background-color: #ddd;
}

.knockout-stage {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}

.knockout-stage-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.round-of-16, .quarter-finals, .semi-finals, .final {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}
.match span {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 22%;
    text-align: center;
    font-size: 0.8em;
}

.knockout-stage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8, auto);
    gap: 20px;
}

.round-of-16 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quarter-finals {
    grid-column: 2 / span 1;
    grid-row: 2 / span 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.semi-finals {
    grid-column: 3 / span 1;
    grid-row: 3 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.final {
    grid-column: 4 / span 1;
    grid-row: 4 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
