<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UEFA Euro 2024 Predictions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wall-chart">
        <h1>UEFA Euro 2024 Predictions</h1>
        <hr>
        <h2>GROUP STAGE</h2>
        <div class="content-wrapper">
            <div class="match-results-left">
                {% for group, matches in match_results.items() %}
                    {% if group in ['A', 'B', 'C'] %}
                        <div class="group-results" id="results-{{ group }}">
                            <h2>Group {{ group }} Matches</h2>
                            <table>
                                {% for match in matches %}
                                    <tr>
                                        <td>{{ match.team1 }}</td>
                                        <td>{{ match.team1_score }}</td>
                                        <td>{{ match.team2 }}</td>
                                        <td>{{ match.team2_score }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="divider"></div>

            <div class="group-standings-center">
                <div class="group-standings">
                    {% for group, group_teams in standings.groupby('group') %}
                        <div class="group" id="group-{{ group }}">
                            <h2>Group {{ group }}</h2>
                            <table>
                                <tr>
                                    <th>Team</th>
                                    <th>GP</th>
                                    <th>W</th>
                                    <th>D</th>
                                    <th>L</th>
                                    <th>GF</th>
                                    <th>GA</th>
                                    <th>GD</th>
                                    <th>Points</th>
                                </tr>
                                {% for _, team in group_teams.iterrows() %}
                                    <tr class="{{ team.qualified }}">
                                        <td>{{ team.team }}</td>
                                        <td>{{ team.gp }}</td>
                                        <td>{{ team.w }}</td>
                                        <td>{{ team.d }}</td>
                                        <td>{{ team.l }}</td>
                                        <td>{{ team.gf }}</td>
                                        <td>{{ team.ga }}</td>
                                        <td>{{ team.gd }}</td>
                                        <td>{{ team.points }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="divider"></div>

            <div class="match-results-right">
                {% for group, matches in match_results.items() %}
                    {% if group in ['D', 'E', 'F'] %}
                    <div class="group-results" id="results-{{ group }}">
                            <h2>Group {{ group }} Matches</h2>
                            <table>
                                {% for match in matches %}
                                    <tr>
                                        <td>{{ match.team1 }}</td>
                                        <td>{{ match.team1_score }}</td>
                                        <td>{{ match.team2 }}</td>
                                        <td>{{ match.team2_score }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% endif %}
                {% endfor %}
            </div>
        </div>
        <hr>
        <h2>KNOCKOUT STAGE</h2>
        <div class="knockout-stage">
            <div class="knockout-stage-grid">
                <!-- Round of 16 -->
                <div class="round-of-16">
                    {% for match in knockout_matches %}
                        {% if match.stage == 'Round of 16' %}
                            <div class="match">
                                <span>{{ match.team1 }}</span>
                                <span>{{ match.team1_score }}</span>
                                <span>{{ match.team2 }}</span>
                                <span>{{ match.team2_score }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Quarter-finals -->
                <div class="quarter-finals">
                    {% for match in knockout_matches %}
                        {% if match.stage == 'Quarter-final' %}
                            <div class="match">
                                <span>{{ match.team1 }}</span>
                                <span>{{ match.team1_score }}</span>
                                <span>{{ match.team2 }}</span>
                                <span>{{ match.team2_score }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Semi-finals -->
                <div class="semi-finals">
                    {% for match in knockout_matches %}
                        {% if match.stage == 'Semi-final' %}
                            <div class="match">
                                <span>{{ match.team1 }}</span>
                                <span>{{ match.team1_score }}</span>
                                <span>{{ match.team2 }}</span>
                                <span>{{ match.team2_score }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Final -->
                <div class="final">
                    {% for match in knockout_matches %}
                        {% if match.stage == 'Final' %}
                            <div class="match">
                                <span>{{ match.team1 }}</span>
                                <span>{{ match.team1_score }}</span>
                                <span>{{ match.team2 }}</span>
                                <span>{{ match.team2_score }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
